.onecaption a {color: #9A5D22;text-decoration: none;cursor:hand;font-size:9pt;}
.onecaption a:hover {color: #45271D;text-decoration:none;cursor:hand;font-size:9pt;}
.onecaption a:active {color: #9A5D22;text-decoration:none;cursor:hand;font-size:9pt;}