.onecaption a {color: #494977;text-decoration: none;cursor:hand;font-size:9pt;}
.onecaption a:hover {color: #9999CD;text-decoration:none;cursor:hand;font-size:9pt;}
.onecaption a:active {color: #494977;text-decoration:none;cursor:hand;font-size:9pt;}