INPUT {
	BACKGROUND-COLOR: #f0ffc4; BORDER-BOTTOM-COLOR: #99cc00; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #99cc00; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #99cc00; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #99cc00; BORDER-TOP-WIDTH: 1px; FONT-SIZE: 9pt; HEIGHT: 20px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
TEXTAREA {
	BACKGROUND-COLOR: #f0ffc4; BORDER-BOTTOM-COLOR: #99cc00; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #99cc00; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #99cc00; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #99cc00; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: ו; FONT-SIZE: 9pt
}
SELECT {
	BACKGROUND-COLOR: #f0ffc4; BORDER-BOTTOM-COLOR: #99cc00; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #99cc00; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #99cc00; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #99cc00; BORDER-TOP-WIDTH: 1px; FONT-FAMILY: ו; FONT-SIZE: 9pt
}
BODY {
	FONT-SIZE: 9pt; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #99cc00
}
.BigTD {
	FONT-SIZE: 10.5pt; LINE-HEIGHT: 180%
}
.BigTDM {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%
}
TD {
	FONT-SIZE: 9pt
}
A {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
.top {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
