.onecaption a {color: #black;text-decoration: none;cursor:hand;font-size:9pt;}
.onecaption a:hover {color: #black;text-decoration:underline;cursor:hand;font-size:9pt;}
.onecaption a:active {color: #black;text-decoration:underline;cursor:hand;font-size:9pt;}